{"filter":false,"title":".gitignore","tooltip":"/game_post/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":31,"column":0},"end":{"row":32,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":4},"action":"insert","lines":[".env"],"id":3}]]},"ace":{"folds":[],"scrolltop":252,"scrollleft":0,"selection":{"start":{"row":32,"column":4},"end":{"row":32,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":17,"state":"start","mode":"ace/mode/ini"}},"timestamp":1622812766181,"hash":"d007c2236aa6e4bd1036d96f5a5db0ddfe69ed46"}